/* The main content */
.main-content {
  max-width: 600px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
}

.meta {
	color: #fff;	
	font-size: 18px;
	font-weight: 900;
}

.smiley {
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.smiley:hover {
	width: 50px;
	padding-left: 0px;
	padding-right: 0px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#info {
	padding-left: 20px;
}

#vote {
	padding: 10px 20px;
}

#score {
	padding-left: 48px;
}

.count {
	padding-right: 32px;
	padding-top: 0px;
	margin-top: 0px;
}
.badgePreview {
	width: 75px;
}
.badgeCell {
	padding: 10px;
}
.cellSelected {
	background-color: #AAAAAA;
}